<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="utf-8" />
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal Type</th>
        <th>ID</th>
        <th>IPersonality</th>
      </tr>
      <tr th:each="bankaccount: ${accounts}">
        <td th:utext="${bankaccount.isKing()}? '<em><b>' + ${bankaccount.getName() + '</b></em>'} : ${bankaccount.getName()}"></td>
        <td th:text="${bankaccount.formatBankAccount(bankaccount.getBalance())}"></td>
        <td th:text="${bankaccount.getAnimalType()}"></td>
        <td th:text="${bankaccountStat.index + 1}"></td>
        <div th:switch="${bankaccount.isBad()}">
          <td th:case="false">Good</td>
          <td th:case="true">Bad</td>
        </div>

      </tr>
    </table>
  </body>
</html>