body {
  font-family: 'Consolas';
  font-size: 18px;  
}

p{
  margin: 3px 0 3px 0;
}

.padding {
  margin: 0px;
  padding: 0px 10%;
}

#header {
  background-color: #515152;  
  border: solid 1px;
}

#header h2{
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;  
}

.heading {
  margin-bottom: 2px;
  font-size: 14px;
}

#post-content {
  width: 80%;
}

button {
  margin: 1em 0px 6px 0px;
  width: 10%;
  padding-top: 2px;
  padding-block-end: 4px;
  font-size: 1em;
  border-radius: 5px;
  box-shadow: 0px;
  border: solid 1px;
}

ul {
  padding-left: 0px;
}

li {
  margin: 1em 0px 0px 1px;
  list-style: none;
  border: solid 1px;
  padding: 4px;
}

textarea {
  border: solid 1px;
}

.former-post-title {
  margin: 0px 0px 0px 1px;
  font-size: 1.5em;
}

.former-post-content {
  margin: 4px 6px 4px 6px;
  font-size: 14px;
}