<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Programmer Fox Club</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<a th:href="information">Information</a><br/>
<img th:src="@{/images/greenfox.png}"/>
<p th:text="${foxes.getFoxByName(foxName).doIntroduction(
  foxes.getFoxByName(foxName).getFood(),
  foxes.getFoxByName(foxName).getDrink(),
  foxes.getFoxByName(foxName).getTricks().getTrickList())}"></p>
<h1>Known tricks</h1>
<ul th:each=" trick : ${foxes.getFoxByName(foxName).getTricks().getTrickList()}">
  <li th:text="${trick}"></li>
</ul>

</body>
</html>