<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Programmer's Fox CLub</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<a th:href="fox.html">Information</a>
<a th:href="store.html">Nutrition Store</a>
<a th:href="tricks.html">Trick Center</a>
<a th:href="actions.html">Action History</a>

<form th:action="@{/addmeal(name=${foxName})}" method="post">
  <label>Food</label>
  <select name="foodName">
    <option th:each="food : ${foxes.getFoxByName(foxName).getFoods().getFoodList()}"
            th:value="${food}" th:text="${food}"></option>
  </select>

  <label>Drink</label>
  <select name="drinkName">
    <option th:each="drink: ${foxes.getFoxByName(foxName).getDrinks().getDrinkList()}"
            th:value="${drink}" th:text="${drink}"></option>
  </select>
  <input type="submit" value="SELECT"/>
</form>
</body>
</html>