<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Webshop</title>
  <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/now" th:href="@{https://fontlibrary.org/face/now}" type="text/css"/>
</head>
<body>
  <p id="myShop">My Shop</p>
  <form id="menu" action="" method="gest">
    <input type="submit" value="only available">
    <input type="submit" value="cheapest first">
    <input type="submit" value="contains nike">
    <input type="submit" value="average stock">
    <input type="submit" value="most expensive available">
  </form>
  <div id="searchMenu">
    <label class="block" for="searchText">Search for: </label>
    <input type="search" name="search" id="searchText" placeholder="...something like nike">
    <input type="submit" value="search" id="searchButton">
  </div>
<thead>
  <th>Name</th>
  <th>Description</th>
  <th>Price</th>
  <th>Quantity of stock</th>
</thead>
<tbody>
  <tr>
    <td></td>
  </tr>
</tbody>

</body>
</html>