<p id="myShop">My Shop</p>
<div id="menu">
  <form action="/available" method="get">
    <input type="submit" value="only available">
  </form>
  <form action="/sorted" method="get">
    <input type="submit" value="cheapest first">
  </form>
  <form action="/nike" method="get">
    <input type="submit" value="contains nike">
  </form>
  <form action="/average" method="get">
    <input type="submit" value="average stock">
  </form>
  <form action="/expensive" method="get">
    <input type="submit" value="most expensive available">
  </form>
</div>
<div id="searchMenu">
  <label class="block" for="searchText">Search for: </label>
  <input type="search" name="search" id="searchText" placeholder="...something like nike">
  <input type="submit" value="search" id="searchButton">
</div>