<p id="myShop">My Shop</p>
<div id="menu">
  <form action="/available" method="get">
    <input type="submit" value="only available">
  </form>
  <form action="/cheapest" method="get">
    <input type="submit" value="cheapest first">
  </form>
  <form action="/nike" method="get">
    <input type="submit" value="contains nike">
  </form>
  <form action="/average" method="get">
    <input type="submit" value="average stock">
  </form>
  <form action="/expensive" method="get">
    <input type="submit" value="most expensive available">
  </form>
</div>